RewriteEngine On
RewriteRule    ^about/?$    about.php    [NC,L]
RewriteRule    ^faq/?$    faq.php    [NC,L]
RewriteRule    ^preferences/?$    pref.php    [NC,L]
RewriteRule    ^scanner/?$    mktScan.php    [NC,L]
RewriteRule    ^corp/([0-9]+)/?$    index.php?corpID=$1    [NC,L]
RewriteRule    ^corp/?$    verified.php    [NC,L]
RewriteRule    ^corps/?$    verified.php    [NC,L]